/* ================================================  1366 - 0000  ======================================= */
/* ================================================  1280 - 0000 ======================================= */
/* ================================================  1279 - 0000 ======================================= */
/* ================================================  1199 - 0000  ======================================= */
/* ================================================  1060 - 0000  ======================================= */
/* ================================================  1024 - 0000  ======================================= */
/* ================================================  1023 - 0000  ======================================= */
@media only screen and (max-width: 1023px) {
  .mobile {
    display: inline-block;
    margin: 0 0 5%; }

  .desktop {
    display: none; }

  .intro-content {
    padding: 4% 10%; }
    .intro-content .content {
      padding: 0; }
      .intro-content .content.house .left-panel {
        width: 100%;
        text-align: center; }
        .intro-content .content.house .left-panel h1 {
          text-align: left; }
        .intro-content .content.house .left-panel p {
          text-align: left;
          padding: 0;
          margin: 5% 0; }
      .intro-content .content.house .right-panel {
        margin-top: 10%;
        width: 100%; }

  .secondary-content {
    padding: 5% 10%; }
    .secondary-content .content {
      padding: 0; }
      .secondary-content .content.air-quality .left-panel {
        width: 100%;
        text-align: center; }
        .secondary-content .content.air-quality .left-panel h2 {
          text-align: left; }
        .secondary-content .content.air-quality .left-panel p {
          text-align: left;
          padding: 0;
          margin: 5% 0; }
        .secondary-content .content.air-quality .left-panel .statistics {
          text-align: left; }
      .secondary-content .content.air-quality .right-panel {
        margin-top: 10%;
        width: 100%; }
      .secondary-content .content.score .left-panel {
        width: 100%;
        text-align: center; }
        .secondary-content .content.score .left-panel h1 {
          text-align: left; }
        .secondary-content .content.score .left-panel p {
          text-align: left;
          padding: 0;
          margin: 5% 0; }
      .secondary-content .content.score .right-panel {
        margin-top: 10%;
        width: 100%; } }
/* ================================================  870 - 000  ======================================= */
/* ================================================  767 - 000  ======================================= */
/* ================================================  599 - 000  ======================================= */
/* ================================================  567 - 000  ======================================= */
/* ================================================  480 - 000  ======================================= */
/* ================================================  479 - 000  ======================================= */
/* ================================================  399 - 000  ======================================= */
/* ================================================ HEIGHT 900 - 000  ======================================= */

/*# sourceMappingURL=media.css.map */
