
/* ================================================  1366 - 0000  ======================================= */

@media only screen and (max-width: 1366px) {



}


/* ================================================  1280 - 0000 ======================================= */

@media only screen and (max-width: 1280px) {


}



/* ================================================  1279 - 0000 ======================================= */

@media only screen and (max-width: 1279px) {


}



/* ================================================  1199 - 0000  ======================================= */

@media only screen and (max-width: 1199px) {


}


/* ================================================  1060 - 0000  ======================================= */

@media only screen and (max-width: 1060px) {


}


/* ================================================  1024 - 0000  ======================================= */

@media only screen and (max-width: 1024px) {


}



/* ================================================  1023 - 0000  ======================================= */

@media only screen and (max-width: 1023px) {

	.mobile {
		display: inline-block;
		margin: 0 0 5%;
	}

	.desktop {
		display: none;
	}

	.intro-content {
		padding: 4% 10%;
		.content {
			padding: 0;
			&.house {
				.left-panel {
					width: 100%;
					text-align: center;
					h1 {
						text-align: left;
					}
					p {
						text-align: left;
						padding: 0;
						margin: 5% 0;
					}
				}

				.right-panel {
					margin-top: 10%;
					width: 100%;
				}
			}
		}
	}

	.secondary-content {
		padding: 5% 10%;
		.content {
			padding: 0;
			&.air-quality {
				.left-panel {
					width: 100%;
					text-align: center;
					h2 {
						text-align: left;
					}
					p {
						text-align: left;
						padding: 0;
						margin: 5% 0;
					}
					.statistics {
						text-align: left;
					}
				}

				.right-panel {
					margin-top: 10%;
					width: 100%;
				}
			}

			&.score {
				.left-panel {
					width: 100%;
					text-align: center;
					h1 {
						text-align: left;
					}
					p {
						text-align: left;
						padding: 0;
						margin: 5% 0;
					}
				}

				.right-panel {
					margin-top: 10%;
					width: 100%;
				}
			}
		}
	}


}



/* ================================================  870 - 000  ======================================= */

@media only screen and (max-width: 870px) {


}


/* ================================================  767 - 000  ======================================= */

@media only screen and (max-width: 767px) {


}


/* ================================================  599 - 000  ======================================= */

@media only screen and (max-width: 599px) {


}


/* ================================================  567 - 000  ======================================= */

@media only screen and (max-width: 567px) {


}


/* ================================================  480 - 000  ======================================= */

@media only screen and (max-width: 480px) {


}


/* ================================================  479 - 000  ======================================= */

@media only screen and (max-width: 479px) {


}


/* ================================================  399 - 000  ======================================= */

@media only screen and (max-width: 399px) {

}


/* ================================================ HEIGHT 900 - 000  ======================================= */

@media only screen and (max-height: 899px) {

}